<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div>
        <h1>Edit User {{id}}</h1>
        <a href="/users">Home</a>
    </div>
    <form action="/edit/{{id}}" method="post">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="email" placeholder="Email Name">
        <button>Update</button>
    </form>
    <a href="/users/{{id}}">Show User</a>
</body>
</html>